@import url("./base.css");

#home-container {
  width: 34rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* calendar */
#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  position: relative;
  margin-bottom: 3rem;
  border: 0.1rem solid var(--grey--color);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0rem 0.7rem 0.1rem var(--grey--color);
  color: var(--grey--color);
}

#calendar i {
  font-size: 2rem;
}

#calendar > li {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}

.calendar__todo-num {
  position: relative;
}

.calendar__todo-num > small {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.fa-heart {
  color: var(--grey--color);
}

i[done="true"],
.selected {
  color: rgb(0, 0, 0);
}

/* todo */
#todo {
  display: flex;
  flex-wrap: wrap;
  width: 29rem;
  padding: 0 1rem;
}

.todo__categories__title > i {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.todo__categories__content {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem 1rem 1rem;
}

.todo__categories__content > li {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.8rem;
  align-items: center;
}

.add-btn {
  font-size: 1.2rem;
}

.todo__categories__content i:hover {
  color: black;
}

.add-btn:hover {
  color: var(--grey--color);
}

/* modal */

#form__container {
  padding: 1rem 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
  border-radius: 1rem;

  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#close-btn {
  align-self: end;
  right: -2rem;
  position: relative;
}

#add-todo__modal {
  display: none;

  width: 34rem;
  height: 100vh;

  position: absolute;
  z-index: 1;
  top: 0;

  background-color: rgb(0 0 0 / 21%);
}

#add-todo__form > input {
  border: 0.1rem solid var(--grey--color);
  border-radius: 0.5rem;

  height: 2rem;
}

#add-todo__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-todo__form > input {
  margin: 1rem 0;
}

#form__container > h2 {
  margin-top: 1rem;
}

#add-todo__form > button {
  padding: 0.5rem 0.7rem;
  margin-bottom: 0.7rem;

  border-radius: 0.5rem;

  background-color: black;
  color: white;
}

button[type="submit"] {
  cursor: pointer;
  background-color: var(--grey--color);
}
